
@font-face {
  font-family: 'Phosphate Solid';
  src: url('fonts/phosphate-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/proximanova-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('fonts/proximanova_thin-webfont.woff2') format('woff2'),
     url('fonts/proximanova_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('fonts/ProximaNova_Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'gobold_extra1regular';
  src: url('fonts/goboldextra1-webfont.woff2') format('woff2'),
          url('fonts/goboldextra1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gobold_extra1italic';
  src: url('fonts/goboldextra1_italic-webfont.woff2') format('woff2'),
          url('fonts/goboldextra1_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Turn Off Default iOS Styles */

select, option, button, a {
  -webkit-appearance: none;
  appearance: unset;
}

/* Universal Modifiers */

.hide {
  /* display: none; */
  visibility: hidden;
}
.show {
  visibility: visible;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.inline {
  display: inline;
}
.zero {
  margin: 0;
  padding: 0;
}
.margin_2 {
  margin: 0 0 2rem 0;
}
.margin_4 {
  margin: 0 0 4rem 0;
}
.img_cover {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.rounded_20 {
  border-radius: 20px;
}

/* Column Width Classes */

.col_10 {
  /* display: grid; */
  grid-column: 1 / -1;
}
.col_8 {
  grid-column: 2 / 10;
}

/* Display Settings */

html {
  scroll-behavior: smooth;
  height: 100;
  box-sizing: border-box;
} 
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.br_double {
  display: block;
  content: ""; /* clears default height */
  margin-top: 30px;
}

/* Colors */

.primary {
  color: #63988E;
}
.secondary {
  color: #CFACC3;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}

/* Typography */

h1 {
  font-family: "gobold_extra1regular";
  font-size: 3rem;
  color: #ffffff;
  font-weight: 100;
}
h1::first-letter {
  font-size: 4rem;
}
h2 {
  font-family: "Proxima Nova Extra Bold";
  font-size: 1.1rem;
  color: #63988E;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
}
h3 {
  font-family: "Proxima Nova Extra Bold";
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 100;
}
h4 {
  font-family: "Phosphate Solid";
  font-size: 1.75rem;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}
h5 {
  font-family: "gobold_extra1regular";
  font-size: 1.5rem;
  color: #404040;
  font-weight: 100;
}
h6 {
  color: #ffffff;
  font-family: "Long Cang";
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
}
.font_splash {
  position: absolute;
  font-family: "gobold_extra1regular";
  font-size: 3rem;
  color: #000000;
  font-weight: 100;
  padding: 150px 0 0 8.1vw;
}
.font_splash::first-letter {
  font-size: 4rem;
}
.font_splash_subheader {
  font-family: "Long Cang";
  font-size: 2rem;
  font-weight: 100;
}
.font_superscript {
  font-size: 4rem;
}
.font_subscript {
  font-size: 1.5rem;
}
.font_body {
  color: #ffffff;
  font-family: "Proxima Nova Thin";
  font-size: 1.1rem;
  line-height: 1.5;
}
.font_body_project {
  color: #ffffff;
  font-family: "Proxima Nova Thin";
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 0 0 20px 0;
}
.font_body_project_link {
  color: #CFACC3;
  font-family: "Proxima Nova Extra Bold";
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 0 0 20px 0;
}
.font_link {
  color: #CFACC3;
  font-family: "Proxima Nova Extra Bold";
  letter-spacing: 0.5px;
}
.font_white {
  color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #CFACC3;
}

/* Buttons */

button {
  cursor: pointer;
}
.btn_xl {
  color: #fff;
  /* padding: 2rem 1rem 2rem 1rem; */
  /* margin: 0 1rem 0 1rem; */
  /* border: 3px solid #fff; */
  /* width: 20vw; */
  border: none;
  background-color: transparent;
}

/* Remove default bullets */

ul {
  list-style: none;
}
li::before {
  content: "•"; 
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-left: -1.2rem;
}

  /* Set Scroll Vertical Offset */

#section_splash, #section_skills, #section_portfolio, #section_resume {
  scroll-margin-block-start: 144px;
}
#container_tabbed_nav, #bcr, #feastly, #doe {
  scroll-margin-block-start: 260px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  scroll-behavior: smooth;
}

/* Nav Bar */

.nav_bar {
  z-index:9999;
  display: grid;
  position: sticky;
  top: 0;
  /* height: 9rem; */
  grid-area: 1 / 1 / 2 / 13;
  padding: 1.5rem 0 0 0;
  margin: 0 0 0 0;
  background-color: #000000;
}
.nav_link_splash {
  grid-area: 1 / 2 / 2 / 4;
  margin: 0.5rem auto 0 auto;
  /* border: 1px solid red; */
}
.nav_logo {
  /* display: block; */
  width: 5.5rem;
  max-width: 100%;
  max-height: 100%;
  /* border: 1px solid aqua; */
}
.nav_link_skills {
  background-color: #000000;
  grid-area: 1 / 4 / 2 / 6;
  /* border: 1px solid red; */
}
.nav_link_portfolio {
  background-color: #000000;
  grid-area: 1 / 6 / 2 / 8;
  /* border: 1px solid red; */
}
.nav_link_contact {
  background-color: #000000;
  grid-area: 1 / 8 / 2 / 10;
  /* border: 1px solid red; */
}

/* Splash */
  
.section_splash {
  display: grid;
  grid-area: auto / 1 / auto / -1;
  background: url("images/splash_bg.png") #000000 no-repeat;
  background-size: cover;
  height: 68vw;
  margin: 0 0 1rem 0;
}
.splash_header {
  width: 50vw;
  /* margin: 6rem 0 0 6rem; */
  margin: 6rem 0 0 7.5vw;
}

/* Skillset & Software */

#section_skills {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 0 4rem 0;
  /* border: 1px solid red; */
}
.skills_header {
  grid-area: auto / 2 / auto / 8;
  /* grid-column: 2 / 8; */
  margin: 0 0 1rem -0.4rem;
  /* border: 1px solid green; */
}
.skills_list {
  grid-area: 2 / 2 / 3 / 7;
  line-height: 2.5;
  margin: 0 0 0 -0.4rem;
  /* margin: 0 0 150px 0; */
  /* border: 1px solid red; */
}
.skills_logos {
  grid-area: 2 / 7 / 3 / 12;
  /* min-width: 40vw; */
  /* grid-column: 8 / 13; */
  text-align: right;
  align-self: center;
  justify-self: right;
  /* border: 1px solid red; */
  /* justify-self: center; */
  /* margin: 0 0 150px 0; */
}
.skills_logos img {
  padding: 0 3vw 0 0;
  /* border: 1px solid pink; */
}

.divider {
  grid-area: auto / 1 / auto / 13;
  border-bottom: 2px solid #363636;
}

/* Portfolio */

.portfolio_header {
  grid-area: auto / 2 / auto / 7;
  margin: 0 0 2rem 0;
}
.container_portfolio_buttons {
  display: grid;
  grid-area: auto / 2 / auto / 12;
  margin: 0 0 4rem 0;
  justify-content: space-evenly;
}
.container_portfolio_buttons img {
  /* width: 16rem; */
  width: 20vw;
  max-width: 16rem;
  /* border: 1px solid green; */
}
.container_portfolio_buttons > a{
  display: grid;
  grid-area: 2 / 2 / 3 / 12;
  margin: 2rem 0 0 0;
  /* justify-self: center; */
  /* border: 1px solid green; */
}
#portfolio_btn_01 {
  grid-column: 1 / 4;
}
#portfolio_btn_02 {
  grid-column: 6 / 9;
}
#portfolio_btn_03 {
  grid-column: 10 / 12;
  text-align: right;
}

/* Section - Resume */

#section_resume {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 0 2rem 0;
  /* border: 1px solid red; */
}
.resume_header {
  grid-area: auto / 2 / auto / 8;
  padding: 0 0 2rem 0;
  /* border: 1px solid green; */
}
.btn_resume {
  grid-area: auto / 2 / auto / 3;
  padding: 0 2rem 0 0;
  /* border: 1px solid pink; */
}
.link_resume {
  grid-column: 3 / 10;
  align-self: center;
  /* border: 1px solid red; */
}

/* Section - Contact */

#section_contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 0 4rem 0;
  /* border: 1px solid red; */
}
.contact_header {
  grid-area: auto / 2 / auto / 8;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.contact_header h6 {
  margin: -10px 0 2rem 0;
}
.btn_email {
  grid-area: auto / 2 / auto / 3;
  padding: 0 2rem 0 0;
  /* border: 1px solid red; */
}
.link_email {
  grid-column: 3 / 10;
  align-self: center;
  /* border: 1px solid red; */
}
.btn_linkedin {
  grid-area: auto / 2 / auto / 3;
  padding: 4rem 2rem 10rem 0;
  /* border: 1px solid red; */
}
.link_linkedin {
  grid-column: 3 / 10;
  padding: 4rem 0 10rem 0;
  align-self: center;
  /* border: 1px solid red; */
}

/* Footer Nav */

.container_footer_nav {
  z-index: 999;
  display: none;
  grid-template-areas:
  "a a b b c c d d";
  grid-column: 1 / 11;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-top: 2px solid #404040;
  /* justify-content: center; */
  /* align-items: center; */
}
.btn_footer_nav {
  color: #fff;
  font-family: "Phosphate Solid";
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 0.7rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.75rem 1rem 0.5rem 1rem;
  background-color: #000;
  border: none;
  /* border: 1px solid red; */
  width: 20vw;
  }
  .active {
    color: #CFACC3;
    /* border: 3px solid blue; */
  }
#btn_footer_home {
  grid-area: a;
  }
#btn_footer_skills {
  grid-area: b;
  }
#btn_footer_portfolio {
  grid-area: c;
  }
#btn_footer_contact {
  grid-area: d;
  }
.btn_footer_nav > img {
  height: 1.5rem;
  margin: 0 0 0 0;
  }
/* .btn_footer_nav a:visited, .btn_profile a:active {
  color: #000;
  } */


/* Footer */

.section_footer { 
  display: grid;
  grid-area: auto / 1 / auto / -1;
  margin: 4rem 0 0 0;
  padding: 4rem 6rem 0 0;
  background: url("images/footer_bg.png") #000000 no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 30rem;
}
.footer_logo {
  text-align: right;
  margin: 0 0 0 0;
}
.font_footer_header {
  font-family: "gobold_extra1regular";
  font-size: 3rem;
  color: #ffffff;
  font-weight: 100;
}
.font_footer_subheader {
  font-family: "Long Cang";
  font-size: 2rem;
  font-weight: 100;
}

/* Page - Portfolio */

/* Tabbed Nav */

#container_tabbed_nav {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 0 0 6rem;
  margin: 4rem 0 0 0;
  z-index: 2;
}
#container_tabbed_nav_divider {
  margin: -2rem 0 0 0;
  grid-area: auto / 1 / auto / 13;
  border-bottom: 3px solid #404040;
}
.tab_lg {
  color: #63988E;
  font-family: "gobold_extra1regular";
  font-size: 1.5rem;
  font-weight: 100;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 1rem 0 0;
  background-color: #404040;
  border-radius: 10px 10px 0 0;
  border: none;
}
.tab_lg_selected {
  color: #CFACC3;
  background-color: #000;
  border-top: 3px solid #404040;
  border-right: 3px solid #404040;
  border-bottom: none;
  border-left: 3px solid #404040;
}
.tab_lg a {
  color: #000;
}
.tab_lg a:visited {
  color: #000;
}
.portfolio_header_right {
  grid-area: 6 / 7 / 7 / 12;
  /* border: 1px solid green; */
}

/* Project - Big Cat Rescue */


#portfolio_page_header {
  display: none;
}

#bcr, #feastly, #doe {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.bcr_header {
  border: 1px solid red;
}
#font_bcr {
  color: #E3B633;
  font-family: "Rubik Mono One";
  font-weight: 100;
  font-size: 2rem;
  padding: 0 0 0 0;
  margin: 0 0 4rem 0;
}
.bcr_description {
  grid-column: 2 / 7;
  margin: 4rem 0 0 0;
  padding: 0 0 0 0;
  /* border: 1px solid pink; */
}
.image_project_logo {
  width: 26vw;
  padding: 0;
  margin: 0 0 2rem 0;
  /* border: 1px solid pink; */
}
.image_project_logo_header {
  display: none;
}
.bcr_description_right {
  grid-column: 8 / 12;
  padding: 0 0 0 0;
  margin: 4.4rem 0 0 0;
  /* border: 1px solid orange; */
}
.bcr_header_user_research {
  grid-column: 2 / 12;
  text-align: center;
  padding: 2em 0 2rem 0;
  /* border: 1px solid pink; */
}
.bcr_image_user_persona {
  grid-column: 2 / 12;
  /* border: 1px solid green; */
}
.bcr_image_journey_map {
  grid-column: 2 / 12;
  padding: 4rem 0 8rem 0;
  /* border: 1px solid red; */
}
.bcr_description_user_persona {
  /* display: none; */
  grid-column: 2 / 6;
  padding: 0 0 0 0;
  /* border: 1px solid orange; */
}
.bcr_description_user_persona p {
  margin: -0.5rem 0 0 0;
}
.bcr_image_pie_charts {
  /* display: none; */
  grid-column: 7 / 12;
  padding: 0 0 0 4rem;
  /* border: 1px solid red; */
}
.bcr_header_definition {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.bcr_list_user_goals {
  grid-column: 2 / 7;
  /* border: 1px solid red; */
}
.bcr_list_user_goals, .bcr_list_priorities li {
  color: #ffffff;
  font-family: "Proxima Nova Thin";
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2;
}
.bcr_list_priorities {
  grid-column: 7 / 12;
  padding: 0 0 0 4rem;
  /* border: 1px solid red; */
}
.bcr_header_user_flow {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid pink; */
}
.bcr_image_user_flow {
  grid-column: 2 / 12;
  /* border: 1px solid pink; */
}
.bcr_header_wireframes {
  grid-column: 1 / 13;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid green; */
}
.container_bcr_wireframes {
  display: grid;
  grid-column: 1 / 13;
  text-align: center;
  /* border: 1px solid orange; */
}
.bcr_image_wireframes_01 {
  grid-column: 1 / 5;
  margin: 0 2vw 0 8vw;
  /* border: 1px solid purple; */
}
.bcr_image_wireframes_02 {
  grid-column: 5 / 9;
  text-align: center;
  margin: 0 4vw 0 2vw;
  /* border: 1px solid red; */
}
.bcr_image_wireframes_03 {
  grid-column: 9 / 13;
  margin: 0 8vw 0 0;
  /* border: 1px solid red; */
}
.bcr_header_hifi_prototypes {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.container_bcr_prototypes {
  display: grid;
  grid-column: 1 / 13;
  text-align: center;
  /* border: 1px solid magenta; */
  /* padding: 0 0 0 4rem; */
}
.container_bcr_prototypes img {
  margin: 0 0 4rem 0;
}
.bcr_image_prototypes_01 {
  grid-column: 1 / 5;
  width: 25vw;
  margin: 0 2vw 0 8vw;
  /* border: 1px solid red; */
}
.bcr_image_prototypes_02 {
  grid-column: 5 / 9;
  width: 25vw;
  text-align: center;
  margin: 0 4vw 0 2vw;
  /* border: 1px solid red; */
}
.bcr_image_prototypes_03 {
  grid-column: 9 / 13;
  width: 25vw;
  margin: 0 8vw 0 0;
  /* border: 1px solid red; */
}
.bcr_header_design_system {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.bcr_image_design_system_cover {
  grid-column: 2 / 7;
  /* border: 1px solid red; */
}
.bcr_image_design_system_colors {
  grid-column: 7 / 12;
  padding: 0 0 0 4rem;
  /* border: 1px solid red; */
}
.bcr_image_design_system_typography {
  grid-column: 2 / 12;
  padding: 4rem 0 0 0;
  /* border: 1px solid red; */
}
.bcr_header_future_opportunities {
  grid-column: 3 / 11;
  text-align: center;
  padding: 4rem 0 6rem 0;
  /* border: 1px solid green; */
}
.bcr_header_future_opportunities p {
  text-align: left;
  line-height: 2;
}
.container_footer_links {
  display: grid;
  grid-column: 2 / 12;
  text-align: center;
  /* border: 1px solid orange; */
}
.footer_link_prev {
  grid-column: 1 / 5;
  text-align: left;
  justify-self: left;
  width: 25vw;
  /* border: 1px solid purple; */
}
.footer_link_top {
  grid-column: 5 / 9;
  text-align: center;
  justify-self: center;
  width: 25vw;
  /* border: 1px solid red; */
}
.footer_link_next {
  grid-column: 9 / 12;
  /* margin: 0 8vw 0 2vw; */
  text-align: right;
  justify-self: right;
  width: 25vw;
  /* border: 1px solid red; */
}
.footer_link_prev span:hover, .footer_link_next span:hover {
  color: #fff;
  /* color: #CFACC3; */
}

/* Project - Feastly */

#font_feastly {
  color: #FB954C;
  font-family: "Open Sans";
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: -0.6rem 0 4rem 0;
  font-size: 3rem;
}
.feastly_description {
  grid-column: 2 / 7;
  margin: 4rem 0 0 0;
  padding: 0 0 0 0;
  /* border: 1px solid pink; */
}
.feastly_description_right {
  grid-column: 8 / 12;
  margin: 4rem 0 0 0;
  /* border: 1px solid purple; */
}
#image_project_logo_feastly {
  margin-top: 0.2rem;
}
.feastly_header_user_research {
  grid-column: 2 / 12;
  text-align: center;
  padding: 2rem 0 2rem 0;
  /* border: 1px solid pink; */
}
.feastly_image_user_persona {
  grid-column: 2 / 12;
  /* border: 1px solid green; */
}
.feastly_image_empathy_map {
  grid-column: 2 / 12;
  padding: 4rem 0 8rem 0;
  /* border: 1px solid red; */
}
.feastly_description_user_persona {
  /* display: none; */
  grid-column: 2 / 6;
  padding: 0 0 0 0;
  /* border: 1px solid orange; */
}
.feastly_description_user_persona p {
  margin: -0.5rem 0 0 0;
}
.feastly_image_pie_charts {
  /* display: none; */
  grid-column: 7 / 12;
  padding: 0 0 0 4rem;
  /* border: 1px solid red; */
}
.feastly_header_definition {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.feastly_list_user_goals {
  grid-column: 2 / 7;
  /* border: 1px solid red; */
}
.feastly_list_user_goals, .feastly_list_priorities li {
  color: #ffffff;
  font-family: "Proxima Nova Thin";
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2;
}
.feastly_list_priorities {
  grid-column: 7 / 12;
  padding: 0 0 0 4rem;
  /* border: 1px solid red; */
}
.feastly_header_user_flow {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid pink; */
}
.feastly_image_user_flow {
  grid-column: 2 / 12;
  /* border: 1px solid pink; */
}
.feastly_header_sketches {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid pink; */
}
.feastly_image_sketches {
  grid-column: 2 / 12;
  /* border: 1px solid red; */
}
.feastly_image_sketches > img {
  margin: 0 0 4rem 0;
}
.feastly_header_wireframes {
  grid-column: 1 / 13;
  text-align: center;
  padding: 2rem 0 2rem 0;
  /* border: 1px solid green; */
}
.container_feastly_wireframes {
  display: grid;
  grid-column: 1 / 13;
  text-align: center;
  /* border: 1px solid orange; */
}
.feastly_image_wireframes_01 {
  grid-column: 1 / 5;
  margin: 0 2vw 0 8vw;
  /* border: 1px solid purple; */
}
.feastly_image_wireframes_02 {
  grid-column: 5 / 9;
  text-align: center;
  margin: 0 4vw 0 2vw;
  /* border: 1px solid red; */
}
.feastly_image_wireframes_03 {
  grid-column: 9 / 13;
  margin: 0 8vw 0 0;
  /* border: 1px solid red; */
}
.feastly_header_hifi_prototypes {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.container_feastly_prototypes {
  display: grid;
  grid-column: 1 / 13;
  text-align: center;
  /* border: 1px solid magenta; */
  /* padding: 0 0 0 4rem; */
}
.container_feastly_prototypes img {
  margin: 0 0 4rem 0;
}
.feastly_image_prototypes_01 {
  grid-column: 1 / 5;
  width: 25vw;
  margin: 0 2vw 0 8vw;
  /* border: 1px solid red; */
}
.feastly_image_prototypes_02 {
  grid-column: 5 / 9;
  width: 25vw;
  text-align: center;
  margin: 0 4vw 0 2vw;
  /* border: 1px solid red; */
}
.feastly_image_prototypes_03 {
  grid-column: 9 / 13;
  width: 25vw;
  margin: 0 8vw 0 0;
  /* border: 1px solid red; */
}
.feastly_header_design_system {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.feastly_image_design_system {
  grid-column: 2 / 12;
  /* border: 1px solid red; */
}
.feastly_header_web_architecture {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.feastly_image_web_architecture {
  grid-column: 2 / 12;
  /* border: 1px solid red; */
}
.feastly_header_future_opportunities {
  grid-column: 3 / 11;
  text-align: center;
  padding: 4rem 0 6rem 0;
  /* border: 1px solid green; */
}
.feastly_header_future_opportunities p {
  text-align: left;
  line-height: 2;
}

/* Project - U.S. Department of Education */

#font_doe {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  /* text-transform: uppercase; */
  padding: 0 0 0 0;
  margin: 0 0 4rem 0;
  font-size: 2rem;
}
.doe_description {
  grid-column: 2 / 7;
  margin: 4rem 0 0 0;
  padding: 0 0 0 0;
  /* border: 1px solid pink; */
}
.doe_description_right {
  grid-column: 8 / 12;
  margin: 4rem 0 0 0;
  /* border: 1px solid purple; */
}
#image_project_logo_doe {
  margin-top: 0.4rem;
  max-width: 12.6rem;
}
.doe_header_heuristic_evaluation {
  grid-column: 2 / 12;
  text-align: center;
  padding: 2rem 0 2rem 0;
}
.doe_image_heuristic_evaluation {
  grid-column: 2 / 12;
}
.doe_image_heuristic_evaluation > img {
  margin: 0 0 4rem 0;
}
.doe_header_user_research {
  grid-column: 2 / 12;
  text-align: center;
  padding: 2rem 0 2rem 0;
  /* border: 1px solid pink; */
}
.doe_image_proto_persona {
  grid-column: 2 / 12;
  /* border: 1px solid green; */
}
.doe_image_proto_persona img {
  margin: 0 0 4rem 0;
  /* border: 1px solid green; */
}
.doe_header_definition {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.doe_list_user_goals {
  grid-column: 2 / 7;
  /* border: 1px solid red; */
}
.doe_list_user_goals, .doe_list_priorities li {
  color: #ffffff;
  font-family: "Proxima Nova Thin";
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2;
}
.doe_list_priorities {
  grid-column: 7 / 12;
  padding: 0 0 0 4rem;
  /* border: 1px solid red; */
}
.doe_header_wireframes {
  grid-column: 1 / 13;
  text-align: center;
  padding: 2rem 0 2rem 0;
  /* border: 1px solid green; */
}
.container_doe_wireframes {
  display: grid;
  grid-column: 2 / 12;
  text-align: center;
  /* border: 1px solid orange; */
}
.container_doe_wireframes img {
  margin: 0 0 4rem 0;
}
.doe_image_wireframes_01 {
  grid-column: 2 / 12;
  /* border: 1px solid purple; */
}
.doe_image_wireframes_02 {
  grid-column: 2 / 12;
  /* border: 1px solid red; */
}
.doe_header_hifi_prototypes {
  grid-column: 2 / 12;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.container_doe_hifi_prototypes {
  display: grid;
  grid-column: 2 / 12;
  /* border: 1px solid magenta; */
}
.doe_image_hifi_prototypes_01 {
  grid-column: 2 / 12;
  /* border: 1px solid red; */
}
.doe_header_design_system {
  grid-column: 2 / 12;
  text-align: center;
  padding: 4rem 0 2rem 0;
  /* border: 1px solid red; */
}
.doe_image_design_system {
  grid-column: 2 / 12;
  /* border: 1px solid red; */
}
.doe_header_future_opportunities {
  grid-column: 3 / 11;
  text-align: center;
  padding: 4rem 0 6rem 0;
  /* border: 1px solid green; */
}
.doe_header_future_opportunities p {
  text-align: left;
  line-height: 2;
}

/* Tablet Breakpoint - 950px */

@media screen and (max-width: 950px) {

.splash_header {
  width: 40vw;
  margin: 6rem 0 0 4.25rem;
  /* border: 1px solid red; */
}
.skills_header {
  grid-area: auto / 2 / auto / 12;
  /* margin: 0 0 20px 0; */
  /* border: 1px solid green; */
}
.skills_list {
  grid-area: auto / 2 / auto / 8;
  /* margin: 0 0 0 0; */
  /* border: 1px solid red; */
}
.skills_logos {
  grid-column: 9 / 12;
  padding: 0 0 0 0;
  width: 30vw;
  /* margin: -7.75rem 0 0 0; */
  text-align: right;
}
.skills_logos img {
  padding: 1.25rem;
}
.footer_logo {
  text-align: right;
  margin: 0 0 0 0;
}

} /* end of Tablet Breakpoint */


/* Mobile Breakpoint - 737px */

@media screen and (max-width: 737px) {

  /* Hide Header Nav */

  .nav_bar {
    display: none;
  }

  /* Display Footer Nav */

  .container_footer_nav {
    display: grid;
  }

  /* Typography Adjustments */

  h1 {
    font-family: "gobold_extra1regular";
    font-size: 2rem;
    color: #ffffff;
    font-weight: 100;
  }
  h1::first-letter {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  .font_superscript {
    font-size: 3rem;
  }
  .font_subscript {
    font-size: 1rem;
  }
  .font_footer_subheader {
    font-size: 1.5rem;
  }
  .font_body_project {
    font-size: 1.1rem;
  }

  /* Set Scroll Vertical Offset */

  #section_splash, #section_skills, #section_portfolio, #section_resume {
    scroll-margin-block-start: 3rem;
  }
  #container_tabbed_nav, #bcr, #feastly, #doe {
    scroll-margin-block-start: 260px;
  }

  .section_splash {
    display: grid;
    grid-area: auto / 1 / auto / -1;
    background: url("images/splash_bg.png") #000000 no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 30rem;
    margin: 0 0 1rem 0;
  }
  .splash_header {
    width: 72vw;
    margin: 3rem 0 0 2rem;
    /* border: 1px solid purple; */
  }
  .splash_header h1 {
    font-size: 3rem;
  }
  .splash_header h1::first-letter, .splash_header .font_superscript {
    font-size: 4rem;
  }
  .skills_header {
    grid-area: auto / 2 / auto / 12;
    text-align: center;
    /* border: 1px solid green; */
  }
  .skills_list {
    grid-area: 3 / 2 / 4 / -1;
    margin: 0 1rem 0 0;
    /* margin: 0 0 0 0; */
    /* border: 1px solid red; */
  }
  .skills_logos {
    grid-area: 2 / 2 / 3 / -1;
    padding: 0 0 0 0;
    width: 100vw;
    margin: 0 0 0 0;
    text-align: center;
    /* border: 1px solid red; */
  }
  .skills_logos img {
    padding: 1rem;
  }
  .portfolio_header {
    grid-area: auto / 2 / auto / 12;
    text-align: center;
    margin: 0 0 2rem 0;
  }
  #section_resume img {
    width: 6rem;
  }
  .resume_header {
    grid-area: auto / 2 / auto / 12;
    text-align: center;
    padding: 0 0 2rem 0;
    /* border: 1px solid green; */
  }
  .btn_resume {
    /* grid-area: auto / 2 / auto / 3; */
    grid-column: 2 / 4;
    padding: 0 2rem 0 0;
    /* border: 1px solid pink; */
  }
  .link_resume {
    grid-column: 5 / 12;
    margin: 0 0 0 1rem;
    align-self: center;
    /* border: 1px solid red; */
  }
  .contact_header {
    grid-area: auto / 2 / auto / 12;
    text-align: center;
    padding: 2rem 0 2rem 0;
    /* border: 1px solid red; */
  }
  .contact_header h6 {
    margin: -10px 2em 2rem 2rem;
  }
  #section_contact {
    margin: 0 0 0 0;
    /* border: 1px solid green; */
  }
  #section_contact img {
    width: 6rem;
  }
  .btn_email {
    grid-column: 2 / 4;
    padding: 0 2rem 0 0;
    /* border: 1px solid red; */
  }
  .link_email {
    grid-column: 5 / 12;
    /* align-self: center; */
    margin: 0 0 0 1rem;
    /* border: 1px solid red; */
  }
  .btn_linkedin {
    grid-column: 2 / 4;
    padding: 4rem 2rem 10rem 0;
    /* border: 1px solid red; */
  }
  .link_linkedin {
    grid-column: 5 / 12;
    margin: 0 0 0 1rem;
    align-self: center;
    /* border: 1px solid red; */
  }
  .section_footer { 
    /* display: grid;
    grid-area: auto / 1 / auto / -1; */
    margin: 0 0 0 0;
    padding: 4rem 3rem 0 0;
    background-size: cover;
    background-position: 50%;
    height: 30rem;
  }

  /* Screen - Portfolio */

  #portfolio_page_header {
    display: grid;
    grid-column: 2 / 12;
    text-align: center;
    padding: 4rem 0 0 0;
  }
  #portfolio_page_header > h1 {
    padding: 0;
    margin: 0;
  }
  #container_tabbed_nav {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 0 0 2rem;
    margin: 4rem 0 0 0;
    z-index: 2;
    /* border: 1px solid red; */
  }
  #container_tabbed_nav_divider {
    margin: -2rem 0 0 0;
    grid-area: auto / 1 / auto / 13;
    border-bottom: 3px solid #404040;
  }
  .tab_lg {
    color: #63988E;
    font-family: "gobold_extra1regular";
    font-size: 1rem;
    font-weight: 100;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 1rem 0 0;
    background-color: #404040;
    border-radius: 10px 10px 0 0;
    border: none;
  }
  .tab_lg_selected {
    color: #CFACC3;
    background-color: #000;
    border-top: 3px solid #404040;
    border-right: 3px solid #404040;
    border-bottom: none;
    border-left: 3px solid #404040;
  }

  /* Tab - Big Cat Rescue */

  #bcr, #feastly, #doe {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .bcr_header {
    border: 1px solid red;
  }
  #font_bcr {
    color: #E3B633;
    font-family: "Rubik Mono One";
    font-weight: 100;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 2rem 0;
  }
  .bcr_description {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
    margin: 4rem 0 0 0;
    padding: 0 0 0 0;
    /* border: 1px solid pink; */
  }
  .image_project_logo_header {
    display: grid;
    margin: 0 0 2rem 0;
    /* border: 1px solid red; */
  }
  .image_project_logo_header img {
    justify-self: center;
    max-height: 7rem;
    /* border: 1px solid green; */
  }
  .image_project_logo {
    display: none;
    padding: 0;
    margin: 0 0 2rem 0;
  }
  .bcr_description_right {
    grid-area: 2 / 2 / 3 / 12;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* border: 1px solid orange; */
  }
  .bcr_description_right h2 {
    margin: 0 0 0 0;
  }
  .bcr_header_user_research {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
    /* border: 1px solid pink; */
  }
  .bcr_image_user_persona {
    grid-column: 2 / 12;
    /* border: 1px solid green; */
  }
  .bcr_image_journey_map {
    grid-column: 2 / 12;
    padding: 2rem 0 2rem 0;
    /* border: 1px solid red; */
  }
  .bcr_description_user_persona {
    display: none;
    grid-column: 2 / 12;
    padding: 0 0 0 0;
    margin: 0 0 2rem 0;
    /* border: 1px solid orange; */
  }
  .bcr_description_user_persona p {
    margin: 0 0 0 0;
  }
  .bcr_image_pie_charts {
    /* display: none; */
    grid-column: 2 / 12;
    padding: 0 0 0 0;
    margin: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .bcr_header_definition {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .bcr_list_user_goals {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .bcr_list_priorities {
    grid-column: 2 / 12;
    padding: 0 0 0 0;
    /* border: 1px solid red; */
  }
  .bcr_header_user_flow {
    grid-column: 2 / 12;
    padding: 2rem 0 0 0;
    /* border: 1px solid pink; */
  }
  .bcr_image_user_flow {
    grid-column: 2 / 12;
    /* border: 1px solid pink; */
  }
  .bcr_header_wireframes {
    grid-column: 1 / 13;
    padding: 4rem 0 0 0;
    /* border: 1px solid green; */
  }
  .container_bcr_wireframes {
    display: grid;
    grid-column: 1 / 13;
    text-align: center;
    /* border: 1px solid orange; */
  }
  .bcr_image_wireframes_01 {
    grid-column: 1 / 5;
    margin: 0 2vw 0 8vw;
    /* border: 1px solid purple; */
  }
  .bcr_image_wireframes_02 {
    grid-column: 5 / 9;
    text-align: center;
    margin: 0 4vw 0 2vw;
    /* border: 1px solid red; */
  }
  .bcr_image_wireframes_03 {
    grid-column: 9 / 13;
    margin: 0 8vw 0 0;
    /* border: 1px solid red; */
  }
  .bcr_header_hifi_prototypes {
    grid-column: 2 / 12;
    text-align: center;
    padding: 4rem 0 0 0;
    /* border: 1px solid red; */
  }
  .container_bcr_prototypes {
    display: grid;
    grid-column: 1 / 13;
    text-align: center;
    /* border: 1px solid magenta; */
    /* padding: 0 0 0 4rem; */
  }
  .container_bcr_prototypes img {
    margin: 0 0 4rem 0;
  }
  .bcr_image_prototypes_01 {
    grid-column: 1 / 5;
    width: 25vw;
    margin: 0 2vw 0 8vw;
    /* border: 1px solid red; */
  }
  .bcr_image_prototypes_02 {
    grid-column: 5 / 9;
    width: 25vw;
    text-align: center;
    margin: 0 4vw 0 2vw;
    /* border: 1px solid red; */
  }
  .bcr_image_prototypes_03 {
    grid-column: 9 / 13;
    width: 25vw;
    margin: 0 8vw 0 0;
    /* border: 1px solid red; */
  }
  .bcr_header_design_system {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
    /* border: 1px solid red; */
  }
  .bcr_image_design_system_cover {
    grid-column: 2 / 12;
    margin: 0 0 2rem 0;
    /* border: 1px solid red; */
  }
  .bcr_image_design_system_colors {
    grid-column: 2 / 12;
    padding: 0;
    margin: 0 0 2rem 0;
    /* border: 1px solid red; */
  }
  .bcr_image_design_system_typography {
    grid-column: 2 / 12;
    padding: 0 0 2rem 0;
    /* border: 1px solid red; */
  }
  .bcr_header_future_opportunities {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 6rem 0;
    /* border: 1px solid green; */
  }
  .bcr_header_future_opportunities p {
    text-align: left;
    line-height: 2;
  }
  .container_footer_links {
    display: grid;
    grid-column: 2 / 12;
    text-align: center;
    /* border: 1px solid orange; */
  }
  .footer_link_prev {
    grid-column: 1 / 5;
    text-align: left;
    justify-self: left;
    width: 25vw;
    /* border: 1px solid purple; */
  }
  .footer_link_top {
    grid-column: 5 / 9;
    text-align: center;
    justify-self: center;
    width: 25vw;
    /* border: 1px solid red; */
  }
  .footer_link_next {
    grid-column: 9 / 12;
    /* margin: 0 8vw 0 2vw; */
    text-align: right;
    justify-self: right;
    width: 25vw;
    /* border: 1px solid red; */
  }
  .footer_link_prev span:hover, .footer_link_next span:hover {
    color: #fff;
    /* color: #CFACC3; */
  }

  /* Tab - Feastly */ 

  /* .image_project_logo_header img {
    margin: 0 0 2rem 0;
    border: 1px solid red;
  } */

  #font_feastly {
    display: none;
    color: #FB954C;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 2rem 0;
  }
  .feastly_description {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
    margin: 4rem 0 0 0;
    padding: 0 0 0 0;
    /* border: 1px solid pink; */
  }
  .feastly_description_right {
    grid-area: 2 / 2 / 3 / 12;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* border: 1px solid orange; */
  }
  .feastly_description_right h2 {
    margin: 0 0 0 0;
  }
  .feastly_header_user_research {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
  }
  .feastly_image_user_persona {
    grid-column: 2 / 12;
  }

  #image_project_logo_feastly {
    display: none;
    margin-top: 0.2rem;
  }
  .feastly_image_empathy_map {
    grid-column: 2 / 12;
    padding: 2rem 0 2rem 0;
    /* border: 1px solid red; */
  }
  .feastly_description_user_persona {
    /* display: none; */
    grid-column: 2 / 12;
    padding: 0 0 2rem 0;
    /* border: 1px solid orange; */
  }
  .feastly_description_user_persona p {
    margin: 0 0 0 0;
  }
  .feastly_image_pie_charts {
    /* display: none; */
    grid-column: 2 / 12;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .feastly_header_definition {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .feastly_list_user_goals {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .feastly_list_priorities {
    grid-column: 2 / 12;
    padding: 0 0 0 0;
    /* border: 1px solid red; */
  }
  .feastly_header_user_flow {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid pink; */
  }
  .feastly_image_user_flow {
    grid-column: 2 / 12;
    padding: 0 0 0 0;
    /* border: 1px solid pink; */
  }
  .feastly_header_sketches {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid pink; */
  }
  .feastly_image_sketches {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .feastly_image_sketches > img {
    margin: 0 0 2rem 0;
  }
  .feastly_header_wireframes {
    grid-column: 1 / 13;
    text-align: center;
    padding: 0 0 0 0;
    /* border: 1px solid green; */
  }
  .container_feastly_wireframes {
    display: grid;
    grid-column: 1 / 13;
    text-align: center;
    /* border: 1px solid orange; */
  }
  .feastly_image_wireframes_01 {
    grid-column: 1 / 5;
    margin: 0 2vw 0 8vw;
    /* border: 1px solid purple; */
  }
  .feastly_image_wireframes_02 {
    grid-column: 5 / 9;
    text-align: center;
    margin: 0 4vw 0 2vw;
    /* border: 1px solid red; */
  }
  .feastly_image_wireframes_03 {
    grid-column: 9 / 13;
    margin: 0 8vw 0 0;
    /* border: 1px solid red; */
  }
  .feastly_header_hifi_prototypes {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .container_feastly_prototypes {
    display: grid;
    grid-column: 1 / 13;
    text-align: center;
    /* border: 1px solid magenta; */
    /* padding: 0 0 0 4rem; */
  }
  .container_feastly_prototypes img {
    margin: 0 0 2rem 0;
  }
  .feastly_image_prototypes_01 {
    grid-column: 1 / 5;
    width: 25vw;
    margin: 0 2vw 0 8vw;
    /* border: 1px solid red; */
  }
  .feastly_image_prototypes_02 {
    grid-column: 5 / 9;
    width: 25vw;
    text-align: center;
    margin: 0 4vw 0 2vw;
    /* border: 1px solid red; */
  }
  .feastly_image_prototypes_03 {
    grid-column: 9 / 13;
    width: 25vw;
    margin: 0 8vw 0 0;
    /* border: 1px solid red; */
  }
  .feastly_header_design_system {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .feastly_image_design_system {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .feastly_header_web_architecture {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .feastly_image_web_architecture {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .feastly_header_future_opportunities {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 6rem 0;
    /* border: 1px solid green; */
  }

  /* Tab - U.S. Department of Education */

  #font_doe {
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    text-align: center;
    /* text-transform: uppercase; */
    padding: 0 0 0 0;
    margin: 0 0 2rem 0;
    font-size: 1.6rem;
  }
  .doe_description {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
    margin: 4rem 0 0 0;
    padding: 0 0 0 0;
    /* border: 1px solid pink; */
  }
  .doe_description_right {
    grid-area: 2 / 2 / 3 / 12;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .doe_description_right h2 {
    margin: 0 0 0 0;
  }
  #image_project_logo_doe {
    display: none;
  }
  .doe_header_heuristic_evaluation {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
  }
  .doe_image_heuristic_evaluation {
    grid-column: 2 / 12;
  }
  .doe_image_heuristic_evaluation > img {
    margin: 0 0 2rem 0;
  }
  .doe_header_user_research {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
    /* border: 1px solid pink; */
  }
  .doe_image_proto_persona {
    grid-column: 2 / 12;
    /* border: 1px solid green; */
  }
  .doe_image_proto_persona img {
    margin: 0 0 2rem 0;
    /* border: 1px solid green; */
  }
  .doe_header_definition {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
    /* border: 1px solid red; */
  }
  .doe_list_user_goals {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .doe_list_priorities {
    grid-column: 2 / 12;
    padding: 0 0 0 0;
    /* border: 1px solid red; */
  }
  .doe_header_wireframes {
    grid-column: 1 / 13;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid green; */
  }
  .container_doe_wireframes {
    display: grid;
    grid-column: 2 / 12;
    text-align: center;
    /* border: 1px solid orange; */
  }
  .container_doe_wireframes img {
    margin: 0 0 2rem 0;
  }
  .doe_image_wireframes_01 {
    grid-column: 2 / 12;
    /* border: 1px solid purple; */
  }
  .doe_image_wireframes_02 {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .doe_header_hifi_prototypes {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 0 0;
    /* border: 1px solid red; */
  }
  .container_doe_hifi_prototypes {
    display: grid;
    grid-column: 2 / 12;
    /* border: 1px solid magenta; */
  }
  .doe_image_hifi_prototypes_01 {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .doe_header_design_system {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 0 0;
    /* border: 1px solid red; */
  }
  .doe_image_design_system {
    grid-column: 2 / 12;
    /* border: 1px solid red; */
  }
  .doe_header_future_opportunities {
    grid-column: 2 / 12;
    text-align: center;
    padding: 2rem 0 6rem 0;
    /* border: 1px solid green; */
  }
  .doe_header_future_opportunities p {
    text-align: left;
    line-height: 2;
  }

} /* end of Mobile Breakpoint */
  