
@font-face {
    font-family: 'Phosphate Solid';
    src: url('fonts/phosphate-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    }
  @font-face {
    font-family: 'Proxima Nova';
  src: url('fonts/proximanova-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
    }
  @font-face {
  font-family: 'Proxima Nova Thin';
  src: url('fonts/proximanova_thin-webfont.woff2') format('woff2'),
     url('fonts/proximanova_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
     }
  @font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('fonts/ProximaNova_Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'gobold_extra1regular';
    src: url('fonts/goboldextra1-webfont.woff2') format('woff2'),
            url('fonts/goboldextra1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'gobold_extra1italic';
    src: url('fonts/goboldextra1_italic-webfont.woff2') format('woff2'),
            url('fonts/goboldextra1_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

  html {
    scroll-behavior: smooth;
    } 

  body {
    margin: 0;
    padding: 0;
    background-color: #000000;
  }

  .br_double {
    display: block;
    content: ""; /* clears default height */
    margin-top: 30px;
  }

  h1 {
    font-family: "gobold_extra1regular";
    font-size: 3rem;
    color: #ffffff;
    font-weight: 100;
  }

  h1::first-letter {
    font-size: 4rem;
  }

  h2 {
    font-family: "Proxima Nova Extra Bold";
    font-size: 1.1rem;
    color: #63988E;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
  }

  h3 {
    font-family: "Proxima Nova Extra Bold";
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 100;
  }

  h4 {
    font-family: "Phosphate Solid";
    font-size: 1.75rem;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
  }

  h5 {
    color: #ffffff;
    font-family: "Proxima Nova Thin";
    font-size: 1.1rem;
    font-weight: 100;
    /* line-height: 1.5; */
    /* padding: 0 0 20px 0; */
  }

  h6 {
    color: #ffffff;
    font-family: "Long Cang";
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .font_splash {
    /* display: inline; */
    position: absolute;
    font-family: "gobold_extra1regular";
    font-size: 3rem;
    color: #000000;
    font-weight: 100;
    padding: 150px 0 0 8.1vw;
  }

  .font_splash::first-letter {
    font-size: 4rem;
  }

  .font_splash_subheader {
    font-family: "Long Cang";
    font-size: 2rem;
    font-weight: 100;
  }

  .font_superscript {
    font-size: 4rem;
  }

  .font_subscript {
    font-size: 1.5rem;
  }

  .font_body {
    color: #ffffff;
    font-family: "Proxima Nova Thin";
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .font_body_project {
    color: #ffffff;
    font-family: "Proxima Nova Thin";
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 0 0 20px 0;
  }

  .font_link {
    /* display: inline-block; */
    font-family: "Proxima Nova Extra Bold";
    color: #CFACC3;
    letter-spacing: 0.5px;
  }

  .font_white {
    color: #ffffff;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: #CFACC3;
  }

  /* Remove default bullets */

  ul {
    list-style: none;
  }

  li::before {
    content: "•"; 
    color: #ffffff;
    display: inline-block;
    width: 1em;
    margin-left: -1.2rem;
  }

  /* Set Scroll Vertical Offset */

    #section_splash, #section_skills, #section_portfolio, #section_contact {
    scroll-margin-block-start: 144px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: 1fr 4fr 1fr 2fr repeat(16, 1fr);
          /*grid-template-rows: 1fr repeat (32, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    scroll-behavior: smooth;
  }

  .nav_bar {
    z-index:9999;
    top: 0;
    height: 114px;
    display: grid;
    grid-area: 1 / 1 / 2 / 13;
    position: sticky;
    padding: 30px 0 0 0;
    background-color: #000000;
    /* border: 2px solid pink; */
  }

  /* Nav Bar */

  .nav_link_splash {
    grid-area: 1 / 2 / 2 / 4;
    margin: 0.5rem auto 0 auto;
    /* border: 1px solid red; */
  }

  .nav_logo {
    /* display: block; */
    width: 5.5rem;
    max-width: 100%;
    max-height: 100%;
  }

  /* Nav Bar - Link - Skills */

  .nav_link_skills {
    background-color: #000000;
    grid-area: 1 / 4 / 2 / 6;
    /* border: 1px solid red; */
  }

  /* Nav Bar - Link - Portfolio */

  .nav_link_portfolio {
    background-color: #000000;
    grid-area: 1 / 6 / 2 / 8;
    /* border: 1px solid red; */
  }

  /* Nav Bar - Link - Contact */

  .nav_link_contact {
    background-color: #000000;
    grid-area: 1 / 8 / 2 / 10;
    /* border: 1px solid red; */
  }

  /* Section - Splash */
  
  .section_splash {
    grid-area: 2 / 1 / 3 / 13;
    margin: -50px 0 30px 0;
    background: url("images/Splash.png") #000000;
    background-size: cover;
    height: 68vw;
  }

  /* Logo - Rick Torres */

  .splash_logo {
    grid-area: 2 / 2 / 3 / 8;
    margin: 4vw 0 0 0;
    /* border: 1px solid red; */
  }

  .splash_logo h1 {
    color: #000000;
  }

  .splash_logo h6 {
    color: #000000;
    font-size: 1.5rem;
    margin: -20px 0 0 0;
  }

  /* Header - Skillset & Software */
  
  .skills_header {
    grid-area: 3 / 2 / 4 / 8;
    margin: 0 0 20px 0;
    /* border: 1px solid green; */
  }

  /* Skills List */

  .skills_list {
    grid-area: 4 / 2 / 5 / 7;
    line-height: 2.5;
    margin: 0 0 150px 0;
  }

  /* Software Logos */

  .skills_logos {
    grid-area: 4 / 8 / 5 / 13;
    align-self: center;
    margin: 0 0 150px 0;
  }

  .skills_logos img {
    padding: 0 3vw 0 0;
    /* border: 1px solid pink; */
  }

  /* Divider */

  .divider {
    grid-area: 5 / 1 / 6 / 13;
    border-bottom: 2px solid #363636;
  }

  /* Header - Portfolio */

  .portfolio_header {
    grid-area: 6 / 2 / 7 / 7;
  }

  .portfolio_header_right {
    grid-area: 6 / 7 / 7 / 12;
  }

  /* Header - Big Cat Rescue */

  .BCR_header {
    grid-area: 7 / 2 / 8 / 7;
  }

  #font_BCR {
    color: #E3B633;
    font-family: "Rubik Mono One";
    font-weight: 100;
    font-size: 1.8rem;
  }

  /* Project Description */

  .BCR_description {
    grid-area: 8 / 2 / 9 / 7;
    /* border: 1px solid green; */
  }

  /* Project Logo & Role */

  .image_project_logo {
    padding: 0px 0 40px 0;
    /* border: 1px solid pink; */
  }

  .BCR_description_right {
    grid-area: 7 / 8 / 9 / 12;
    padding: 34px 0 0 0;
  }

  /* Header - User Research */

  .BCR_header_UserResearch {
    grid-area: 9 / 2 / 10 / 12;
    text-align: center;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid pink; */
  }

  /* Image - User Persona */

  .BCR_image_UserPersona {
    grid-area: 10 / 2 / 11 / 7;
    /* border: 1px solid green; */
  }

  .BCR_image_UserPersona > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Description */

  .BCR_description_UserPersona {
    grid-area: 10 / 7 / 11 / 12;
    padding: 0 0 0 4rem;
    /* border: 1px solid orange; */
  }

  .BCR_description_UserPersona p {
    /* border: 2px solid green; */
    margin: -0.5rem 0 0 0;
  }

  /* Image - Journey Map */

  .BCR_image_JourneyMap {
    grid-area: 11 / 2 / 12 / 7;
    padding: 4rem 0 0 0;
    /* border: 1px solid red; */
  }

  .BCR_image_JourneyMap > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Image - Survey Pie Charts */

  .BCR_image_PieCharts {
    grid-area: 11 / 7 / 12 / 12;
    padding: 4rem 0 0 4rem;
    /* border: 1px solid red; */
  }

  .BCR_image_PieCharts > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Header - Definition */

  .BCR_header_Definition {
    grid-area: 13 / 2 / 14 / 12;
    text-align: center;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid red; */
  }

  /* List - User Goals */

  .BCR_list_UserGoals {
    grid-area: 14 / 2 / 15 / 7;
    /* border: 1px solid red; */
  }

  .BCR_list_UserGoals, .BCR_list_Priorities li {
    color: #ffffff;
    font-family: "Proxima Nova Thin";
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 2;
  }

  /* List - Feature Priorities */

  .BCR_list_Priorities {
    grid-area: 14 / 7 / 15 / 12;
    padding: 0 0 0 4rem;
    /* border: 1px solid red; */
  }

  /* Header - User Flow */

  .BCR_header_UserFlow {
    grid-area: 15 / 2 / 16 / 12;
    text-align: center;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid pink; */
  }

  /* Image - User Flow */

  .BCR_image_UserFlow {
    grid-area: 16 / 2 / 17 / 12;
    /* border: 1px solid pink; */
  }

  .BCR_image_UserFlow > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Header - Wireframes */

  .BCR_header_Wireframes {
    grid-area: 17 / 1 / 18 / 13;
    text-align: center;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid green; */
  }

  .container_wireframes {
    display: grid;
    grid-area: 18 / 1 / 19 / 13;
    text-align: center;
    /* padding: 0 0 0 4rem; */
}

  /* Image - Wireframe 1 */

  .BCR_image_Wireframes_01 {
    grid-area: 18 / 1 / 19 / 5;
    /* width: 25vw; */
    /* text-align: left; */
    margin: 0 2vw 0 8vw;
  }

  .BCR_image_Wireframes_01 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    /* border: 1px solid red; */
  }

  /* Image - Wireframe 2 */

  .BCR_image_Wireframes_02 {
    grid-area: 18 / 5 / 19 / 9;
    /* width: 25vw; */
    text-align: center;
    margin: 0 4vw 0 2vw;
    /* border: 1px solid red; */
  }

  .BCR_image_Wireframes_02 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Image - Wireframe 3 */

  .BCR_image_Wireframes_03 {
    grid-area: 18 / 9 / 19 / 13;
    /* width: 25vw; */
    /* text-align: left; */
    margin: 0 8vw 0 0;
    /* border: 1px solid red; */
  }

  .BCR_image_Wireframes_03 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    /* max-width: 345px; */
  }

  /* Header - High-Fidelity Prototype */

  .BCR_header_HiFiPrototypes {
    grid-area: 19 / 2 / 20 / 12;
    text-align: center;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid red; */
  }

  .container_prototypes {
    display: grid;
    grid-area: 20 / 1 / 21 / 13;
    text-align: center;
    /* padding: 0 0 0 4rem; */
}

  /* Images - Column 1 */

  .BCR_image_Prototypes_01 {
    grid-area: 20 / 1 / 21 / 5;
    width: 25vw;
    margin: 0 2vw 0 8vw;
    /* border: 1px solid red; */
  }

  .BCR_image_Prototypes_01 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    margin: 0 0 4vw 0;
  }

  /* Images - Column 2 */

  .BCR_image_Prototypes_02 {
    grid-area: 20 / 5 / 21 / 9;
    width: 25vw;
    text-align: center;
    margin: 0 4vw 0 2vw;
    /* border: 1px solid red; */
  }

  .BCR_image_Prototypes_02 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    margin: 0 0 4vw 0;
  }

  /* Images - Column 3 */

  .BCR_image_Prototypes_03 {
    grid-area: 20 / 9 / 21 / 13;
    width: 25vw;
    margin: 0 8vw 0 0;
    /* border: 1px solid red; */
  }

  .BCR_image_Prototypes_03 > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    margin: 0 8vw 0 0;
  }

  /* Header - Design System */

  .BCR_header_DesignSystem {
    grid-area: 21 / 2 / 22 / 12;
    text-align: center;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid red; */
  }

  /* Image - Design System - Cover */

  .BCR_image_DesignSystem_Cover {
    grid-area: 22 / 2 / 23 / 7;
    /* border: 1px solid red; */
  }

  .BCR_image_DesignSystem_Cover > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Image - Design System - Colors */

  .BCR_image_DesignSystem_Colors {
    grid-area: 22 / 7 / 23 / 12;
    padding: 0 0 0 4rem;
    /* border: 1px solid red; */
  }

  .BCR_image_DesignSystem_Colors > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Image - Design System - Typography */

  .BCR_image_DesignSystem_Typography {
    grid-area: 23 / 2 / 24 / 12;
    padding: 4rem 0 0 0;
    /* border: 1px solid red; */
  }

  .BCR_image_DesignSystem_Typography > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  /* Header - Future Opportunities */

  .BCR_header_FutureOpportunities {
    grid-area: 24 / 3 / 25 / 11;
    text-align: center;
    padding: 4rem 0 6rem 0;
    /* border: 1px solid green; */
  }

  .BCR_header_FutureOpportunities p {
    text-align: left;
    line-height: 2;
  }

  /* Header - Resume */

  .resume_header {
    grid-area: 25 / 2 / 26 / 10;
    padding: 0 0 2rem 0;
    /* border: 1px solid green; */
  }

  /* Button - Resume */

  .button_resume {
    grid-area: 26 / 2 / 27 / 3;
    padding: 0 2rem 0 0;
    /* border: 1px solid pink; */
  }

  /* Link - Resume */

  .link_resume {
    grid-area: 26 / 3 / 27 / 10;
    align-self: center;
    /* border: 1px solid red; */
  }

  /* Header - Contact */

  .contact_header {
    grid-area: 27 / 2 / 28 / 10;
    padding: 4rem 0 2rem 0;
    /* border: 1px solid red; */
  }

  .contact_header h6 {
    margin: -10px 0 2rem 0;
  }

  /* Button - Email */

  .button_email {
    grid-area: 28 / 2 / 29 / 3;
    padding: 0 2rem 0 0;
    /* border: 1px solid red; */
  }

  /* Link - Email */

  .link_email {
    grid-area: 28 / 3 / 29 / 10;
    align-self: center;
    /* border: 1px solid red; */
  }

  /* Button - LinkedIn */

  .button_linkedin {
    grid-area: 29 / 2 / 30 / 3;
    padding: 4rem 2rem 10rem 0;
    /* border: 1px solid red; */
  }

  /* Link - LinkedIn */

  .link_linkedin {
    grid-area: 29 / 3 / 30 / 10;
    padding: 4rem 0 10rem 0;
    align-self: center;
    /* border: 1px solid red; */
  }

  /* Footer */

  .section_footer { 
    grid-area: 31 / 1 / 32 / 13;
    margin: 0 0 0 0;
    background: url("images/Footer_Background.png") #000000;
    background-size: cover;
    height: 30rem;
  }

  /* Footer - Logo - Script */

  .footer_logo {
    grid-area: 31 / 2 / 32 / 12;
    text-align: right;
    margin: 4rem 0 0 0;
  }

  .font_footer_header {
    font-family: "gobold_extra1regular";
    font-size: 3rem;
    color: #ffffff;
    font-weight: 100;
  }

  .font_footer_subheader {
    font-family: "Long Cang";
    font-size: 2rem;
    font-weight: 100;
  }

  /* Tablet Breakpoint - 950px */

  @media screen and (max-width: 950px) {

    .splash_logo {
      grid-area: 2 / 2 / 3 / 5;
      /* margin: 2vw 0 0 0; */
      /* border: 1px solid red; */
    }

    .splash_logo h6 {
      color: #000000;
      font-size: 1.5rem;
      margin: -20px 0 0 0;
      /* border: 1px solid red; */
    }

    .skills_header {
      grid-area: 3 / 2 / 4 / 12;
      margin: 0 0 20px 0;
      /* border: 1px solid green; */
    }

    .skills_list {
      grid-area: 4 / 2 / 5 / 8;
      margin: 0 0 0 0;
    }

    .skills_logos {
      grid-area: 4 / 9 / 5 / 13;
      /* border: 1px solid red; */
      align-self: center;
      text-align: center;
      margin: 30px 1rem 4rem 0;
    }

    .skills_logos img {
      padding: 0 3vw 2rem 0;
      /* margin: 0 0 6vw 0; */
      /* border: 1px solid pink; */
    }

    .portfolio_header {
      grid-area: 6 / 2 / 7 / 12;
      /* border: 1px solid red; */
    }

    .portfolio_header_right {
      grid-area: 6 / 7 / 7 / 12;
      /* border: 1px solid red; */
    }

    .image_project_logo {
      width: 29vw;
      padding: 0px 0 40px 0;
      /* border: 1px solid pink; */
    }

    .BCR_description_right {
      grid-area: 7 / 8 / 9 / 12;
      padding: 34px 0 0 0;
      /* border: 1px solid red; */
    }

    .BCR_image_UserPersona {
      grid-area: 10 / 2 / 11 / 12;
      /* border: 1px solid green; */
    }

    .BCR_image_JourneyMap {
      grid-area: 11 / 2 / 12 / 12;
      padding: 4rem 0 0 0;
      /* border: 1px solid red; */
    }

    .BCR_image_PieCharts {
      grid-area: 12 / 2 / 13 / 12;
      padding: 8rem 0 6rem 0;
      /* border: 1px solid red; */
    }

    .BCR_description_UserPersona {
      grid-area: 13 / 2 / 14 / 12;
      margin: 0 0 0 0;
      padding: 0 0 2rem 0;
      /* border: 1px solid orange; */
    }

    .BCR_description_UserPersona p {
      font-size: 1.3rem;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      /* border: 1px solid green; */
    }

    .BCR_description_UserPersona .br_double {
      display: block;
      content: "";
      margin-top: 10px;
    }

    .BCR_header_Definition {
      grid-area: 14 / 2 / 15 / 12;
      /* border: 1px solid red; */
    }

    .BCR_list_UserGoals {
      grid-area: 15 / 2 / 16 / 6;
      /* border: 1px solid red; */
    }

    .BCR_list_Priorities {
      grid-area: 15 / 7 / 16 / 12;
      padding: 0 0 2rem 0;
      /* border: 1px solid red; */
    }

    .BCR_header_UserFlow {
      grid-area: 16 / 2 / 17 / 12;
      text-align: center;
      padding: 4rem 0 2rem 0;
    /* border: 1px solid pink; */
    }

    .BCR_image_UserFlow {
      grid-area: 17 / 2 / 18 / 12;
      padding: 0 0 2rem 0;
      /* border: 1px solid pink; */
    }

    .BCR_header_Wireframes {
      grid-area: 18 / 1 / 19 / 13;
      text-align: center;
      padding: 4rem 0 2rem 0;
      /* border: 1px solid green; */
    }

    .container_wireframes {
      display: grid;
      grid-area: 19 / 1 / 20 / 13;
      text-align: center;
      padding: 0 0 2rem 0;
      /* padding: 0 0 0 4rem; */
    }

    .BCR_header_HiFiPrototypes {
      grid-area: 20 / 2 / 21 / 12;
      text-align: center;
      padding: 4rem 0 2rem 0;
    }

    .container_prototypes {
      display: grid;
      grid-area: 21 / 1 / 22 / 13;
      /* border: 1px solid red; */
    }

    .BCR_image_Prototypes_01 {
      grid-area: 21 / 1 / 22 / 5;
      width: 25vw;
      margin: 0 2vw 0 8vw;
      /* border: 1px solid red; */
    }

    .BCR_image_Prototypes_02 {
      grid-area: 21 / 5 / 22 / 9;
      width: 25vw;
      text-align: center;
      margin: 0 4vw 0 2vw;
      /* border: 1px solid red; */
    }

    .BCR_image_Prototypes_03 {
      grid-area: 21 / 9 / 22 / 13;
      width: 25vw;
      margin: 0 8vw 0 0;
      /* border: 1px solid red; */
    }

    .BCR_header_DesignSystem {
      grid-area: 22 / 2 / 23 / 12;
      text-align: center;
      padding: 4rem 0 2rem 0;
      /* border: 1px solid red; */
    }

    .BCR_image_DesignSystem_Cover {
      grid-area: 23 / 2 / 24 / 12;
      padding: 0 0 2rem 0;
      /* border: 1px solid red; */
    }

    .BCR_image_DesignSystem_Colors {
      grid-area: 24 / 2 / 25 / 12;
      padding: 0 0 2rem 0;
      /* border: 1px solid red; */
    }

    .BCR_image_DesignSystem_Typography {
      grid-area: 25 / 2 / 26 / 12;
      padding: 0 0 0 0;
      /* border: 1px solid red; */
    }

    .BCR_header_FutureOpportunities {
      grid-area: 26 / 2 / 27 / 12;
    /* border: 1px solid green; */
    }

    .BCR_header_FutureOpportunities p {
      line-height: 1.5;
    }

    .resume_header {
      grid-area: 27 / 2 / 28 / 12;
      /* border: 1px solid green; */
    }

    .button_resume {
      grid-area: 28 / 2 / 29 / 3;
      /* border: 1px solid pink; */
    }

    .link_resume {
      grid-area: 28 / 3 / 29 / 10;
      /* border: 1px solid red; */
    }

    .contact_header {
      grid-area: 29 / 2 / 30 / 12;
      /* border: 1px solid red; */
    }

    .contact_header h6 {
      margin: -10px 0 2rem 0;
    }

    .button_email {
      grid-area: 30 / 2 / 31 / 3;
      padding: 0 2rem 0 0;
      /* border: 1px solid red; */
    }

    .link_email {
      grid-area: 30 / 3 / 31 / 10;
      align-self: center;
      /* border: 1px solid red; */
    }

    .button_linkedin {
      grid-area: 31 / 2 / 32 / 3;
      padding: 4rem 2rem 10rem 0;
      /* border: 1px solid red; */
    }

    .link_linkedin {
      grid-area: 31 / 3 / 32 / 10;
      padding: 4rem 0 10rem 0;
      align-self: center;
      /* border: 1px solid red; */
    }

    .section_footer { 
      grid-area: 33 / 1 / 34 / 13;
      margin: 0 0 0 0;
      background: url("images/Footer_Background.png") #000000;
      background-size: cover;
      height: 30rem;
    }

    .footer_logo {
      grid-area: 33 / 2 / 34 / 12;
      text-align: right;
      margin: 4rem 0 0 0;
    }

    .font_footer_header {
      font-size: 3rem;
    }

    .font_footer_subheader {
      font-size: 2rem;
    }

  } /* end of Tablet Breakpoint */